
<form>
  <div class="form-group">
    <mat-form-field>
      <input matInput placeholder="Naziv" type="text" class="form-control" id="naziv"     
      [(ngModel)]="cisterna.naziv"
        name="naziv">
    </mat-form-field>
  </div>

  <div class="form-group">
    <mat-form-field>
      <input matInput placeholder="Boja" type="text" class="form-control" id="boja"
       [(ngModel)]="cisterna.boja"
        name="boja">
    </mat-form-field>
  </div>

  <div class="form-group">
    <mat-form-field>
      <input matInput placeholder="Kapacitet" class="form-control" id="kapacitet"
       [(ngModel)]="cisterna.kapacitet"
        name="kapacitet">
    </mat-form-field>
  </div>

  <div class="form-group">
    <mat-form-field>
      <input matInput placeholder="Broj Osovina" type="text" class="form-control" id="brojOsovina"
        [(ngModel)]="cisterna.brojOsovina" name="brojOsovina">
    </mat-form-field>
  </div>
  <div fxLayout="row" fxLayoutAlign="end end">
  <button mat-button (click)="dodaj()">Nova Cisterna</button>
</div>

  

</form>
